{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

<div class="container-xl">
  <h1 class="display-3">Team</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_team') }}"type="button" >Ajouter une team</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Leader</th>
        <th scope="col">Membre</th>
        <th scope="col">Mission récente</th>
        <th scope="col">Date de création</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for team in teams %}
        {# <th scope="row"></th> #}
        <td>{{team.name}}</td>
        <td>{{team.leader.name}}</td>

         <td>{% for member in team.members %}
         {{member.name}}
        {% endfor %}</td>

        {% for currentMission in team.currentMission %}
        <td>{{currentMission.name}}</td>
        {% endfor %}

        <td>{{team.active}}</td>
        <td>{{team.createdAt |date}}</td>
        <td><a class="btn btn-primary" href= "{{ path('edit_team', {id: team.id}) }}"type="button" >Modifier</a>
        <a class="btn btn-primary" href= "{{ path('create_team', {id: team.id}) }}"type="button" >Supprimer</a></td>
 </tr>
    {% endfor %}


  </div>

   

{% endblock %}
