{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}

<div class="container-xl">
  <h1 class="display-3">Team</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_team') }}"type="button" >Ajouter une team</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Leader</th>
        <th scope="col">Membre</th>
        <th scope="col">Mission récente</th>
        <th scope="col">Etat</th>
        <th scope="col">Date de création</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for team in teams %}
        <th scope="row">1</th>
        <td>{{team.name}}</td>
        <td>{{team.leader}}</td>
        <td>{{team.members}}</td>
        <td>{{team.currentMission}}</td>
        <td>{{team.active}}</td>
        <td>{{team.createdAt}}</td>
        <td><a class="btn btn-primary" href= "{{ path('edit_team', {id: team.id}) }}"type="button" >Modifier</a></td>
        <td>  <a class="btn btn-primary" href= "{{ path('create_team', {id: team.id}) }}"type="button" >Supprimer</a></td>



  </div>

    </tr>
    {% endfor %}
{% endblock %}
