{% extends 'base.html.twig' %}

{% block title %}Hello SuperHeroController!{% endblock %}

{% block body %}

<div class="container-xl">
  <h1 class="display-3">Les supers héros de l'agence</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_hero') }}"type="button" >Ajouter un héros</a>
  </div>
</div>

<div class="container-xl">
  <div class="row justify-content-center">
    {% for hero in heros %}
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card-container">
          <!-- Conteneur de la carte avec l'effet de rotation -->
          <div class="card">
            <!-- Face avant de la carte (Nom et Image) -->
            <div class="card-face front">
              <div class="card-header">{{ hero.name }}</div>
              <img src="/images/heros/{{ hero.imageName }}" alt="Image de {{ hero.name }}" class="hero-image">
            </div>
            <!-- Face arrière de la carte (Informations détaillées) -->
            <div class="card-face back">
            <div class="card-header">{{ hero.name }}</div>
            <img src="/images/heros/{{ hero.imageName }}" alt="Image de {{ hero.name }}" class="hero-image">
              <div class="alter-ego">{{ hero.alterEgo }}</div>
              <div class="card-content">
              {% if hero.available == 1 %}
                <div><strong>Disponibilité:</strong> Oui</div>
              {% else %}
                <div><strong>Disponibilité:</strong> Non</div>
              {% endif %}
                <div><strong>Biographie:</strong> {{ hero.biography }}</div>
                <div><strong>Power:</strong> {% if hero.powerHero == null %}Non assigné{% else %}{{ hero.powerHero.name }}{% endif %}</div>
                <div><strong>Energie:</strong> {{ hero.energyLevel }}</div>
                <div><strong>Créé le:</strong> {{ hero.createdAt | date }}</div>
              </div>
              <div class="card-footer">
                <a href="{{ path('edit_hero', {id: hero.id}) }}" class="btn btn-outline-light">Modifier</a>
                <a href="{{ path('remove_hero', {id: hero.id}) }}" class="btn btn-outline-danger">Supprimer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}