{% extends 'base.html.twig' %}

{% block title %}Pouvoir{% endblock %}

{% block body %}
<div class="container-xl">
  <h1 class="display-3">Pouvoir</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_power') }}"type="button" >Ajouter une Mission</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Niveaux</th>
        <th scope="col">Héros associé</th>
        <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
    {% for power in powers %}
        {# <th scope="row">1</th> #}
        <td>{{power.name}}</td>
        <td>{{power.description}}</td>
        <td>{{power.level}}</td>
        <td>{{power.powerHero.name}}</td>


        <td><a class="btn btn-primary" href= "{{ path('edit_power', {id: power.id}) }}"type="button" >Modifier</a>
        <a class="btn btn-primary" href= "{{ path('remove_power', {id: power.id}) }}"type="button" >Supprimer</a></td>
    </tr>
{% endfor %}


  </div>

    </tr>
{% endblock %}
