{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
<div class="container-xl">
  <h1 class="display-3">Mission</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_mission') }}"type="button" >Ajouter une Mission</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Titre</th>
        <th scope="col">description</th>
        <th scope="col">location</th>
        <th scope="col">Difficulté</th>
        <th scope="col">status</th>
        <th scope="col">équipe associé</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for team in teams %}
        <th scope="row">1</th>
        <td>{{team.title}}</td>
        <td>{{team.description}}</td>
        <td>{{team.location}}</td>
        <td>{{team.dangerLevel}}</td>
        <td>{{team.assignedTeam}}</td>
        <td>{{team.startAt}}</td>
        <td>{{team.endAt}}</td>

        <td><a class="btn btn-primary" href= "{{ path('edit_mission') }}"type="button" >Modifier</a></td>
        <td>  <a class="btn btn-primary" href= "{{ path('remove_mission') }}"type="button" >Supprimer</a></td>



  </div>

    </tr>
{% endblock %}
