{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
<div class="container-xl">
  <h1 class="display-3">Mission</h1>
</div>

<div class="container-xl">
  <div class="d-flex flex-row-reverse">
  <a class="btn btn-primary" href= "{{ path('create_mission') }}"type="button" >Ajouter une Mission</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Difficulté</th>
        <th scope="col">Etat</th>
        <th scope="col">Équipe associé</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for mission in missions %}
        {# <th scope="row">1</th> #}
        <td>{{mission.title}}</td>
        <td>{{mission.description}}</td>
        <td>{{mission.location}}</td>
        <td>{{mission.dangerLevel}}</td>
        <td>{{mission.status.name}}</td>
        <td>{{mission.assignedTeam.name}}</td>
        <td>{{mission.startAt |date}}</td>
        <td>{{mission.endAt |date}}</td>

        <td><a class="btn btn-primary" href= "{{ path('edit_mission', {id: mission.id}) }}"type="button" >Modifier</a>
        <a class="btn btn-primary" href= "{{ path('remove_mission', {id: mission.id}) }}"type="button" >Supprimer</a></td>
    </tr>
{% endfor %}


  </div>

    </tr>
{% endblock %}
