{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="menu">
    <div class="initial-name">
        <a href="portefolio.html"></a>
    </div>
    <nav class="navbar-Da-sta">
        <ul>
            <li>
                <a class="lien-dash-sta" href="{{ path('show_dashboard') }}">Dashboard</a>
            </li> 
            <li>
                <a class="lien-dash-sta" href="{{ path('show_stat') }}">Statistique</a>
            </li> 
        </ul>
    </nav>
</div> 

<div class="container-xl">
  <h1 class="display-3">Super Héros League</h1>
</div>

<div class="container-xl">
  <h3 class="h2">Les héros disponible:</h3>
</div>

<div class="container-xl">
  <div class="row justify-content-center">
    {% for hero in heros %}
    {% if hero.available == 1 %}
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card-container">
          <!-- Conteneur de la carte avec l'effet de rotation -->
          <div class="card">
            <!-- Face avant de la carte (Nom et Image) -->
            <div class="card-face front">
              <div class="card-header">{{ hero.name }}</div>
              <img src="/images/heros/{{ hero.imageName }}" alt="Image de {{ hero.name }}" class="hero-image">
            </div>
            <!-- Face arrière de la carte (Informations détaillées) -->
            <div class="card-face back">
            <div class="card-header">{{ hero.name }}</div>
            <img src="/images/heros/{{ hero.imageName }}" alt="Image de {{ hero.name }}" class="hero-image">
              <div class="alter-ego">{{ hero.alterEgo }}</div>
              <div class="card-content">
              {% if hero.available == 1 %}
                <div><strong>Disponibilité:</strong> Oui</div>
              {% else %}
                <div><strong>Disponibilité:</strong> Non</div>
              {% endif %}
                <div><strong>Biographie:</strong> {{ hero.biography }}</div>
                <div><strong>Power:</strong> {% if hero.powerHero == null %}Non assigné{% else %}{{ hero.powerHero.name }}{% endif %}</div>
                <div><strong>Energie:</strong> {{ hero.energyLevel }}</div>
                <div><strong>Créé le:</strong> {{ hero.createdAt | date }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

<div class="container-xl text-center my-4">
  <a class="btn btn-primary hero-btn" href= "{{ path('show_hero') }}"type="button" >Voir plus</a>
</div>

<div class="container-xl">
  <h3 class="h2">Toute nos équipes:</h3>
</div>

<!-- Affiche les équipes et leurs status -->
<div class="container-xl">
  <div class="row">
    {% for team in teams %}
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="carte equipe-carte">
          <div class="carte-header text-center">

            <!-- Nom de l'équipe -->
            <h4 class="carte-titre">{{ team.name }}</h4>

            <!-- Leader de l'équipe -->
            <div class="espace-titre">
              <h6 class="carte-sousTitre">Leader : {{ team.leader.name }}</h6>
            </div>
          </div>
          <div class="carte-body">
            {% for mission in missions %}

            <!-- Status de la mission -->

              {% if mission.assignedTeam != null %}
                {% if team.name == mission.assignedTeam.name %}
                  {% if mission.status.name == "EN_COURS" %}
                    <p><strong>Etat:</strong> En mission</p>
                  {% else %}
                    <p><strong>Etat:</strong> En Attente d'une mission</p>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            <!-- Les membres de l'équipe -->
            <h5 class="carte-title">Membres :</h5><br/>
            <ul class="list-group">
              {% for member in team.members %}
                <li class="list-group-item all-membre">{{ member.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container-xl text-center my-4">
  <a class="btn btn-primary hero-btn" href= "{{ path('show_hero') }}"type="button" >Voir plus</a>
</div>

<div class="container-xl">
  <h3 class="h2">Mission en cours:</h3>
</div>

<div class="list-group">
  <div class="row">
    {% for mission in missions %}
      {% if mission.status.name == "EN_COURS" %}
        <div class="col-md-6 mb-3"> 
          <div class="list-group-item list-group-item-action">
            <div class="mission-card">
              <!-- Badge "EN_COURS" en haut à gauche -->
              <span class="badge badge-warning position-absolute top-0 left-0 ml-3 mt-3">
                {{ mission.status.name }}
              </span>

              <!-- Titre de la mission -->
              <h5 class="mb-5 titre">{{ mission.title }}</h5>

              <!-- Description -->
              <div class="mission-description">
                <p>{{ mission.description }}</p>
              </div>

              <!-- Autres informations -->
              <div class="autres-informations">
                {% if mission.assignedTeam == null %}
                  <p><strong>Équipe associée:</strong> Aucune équipe associée</p>
                {% else %}
                  <p><strong>Équipe associée:</strong> {{ mission.assignedTeam.name }}</p>
                {% endif %}
                <p><strong>Localisation:</strong> {{ mission.location }}</p>
                <p><strong>Difficulté:</strong> {{ mission.dangerLevel }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container-xl text-center my-4">
  <a class="btn btn-primary hero-btn" href= "{{ path('show_hero') }}"type="button" >Voir plus</a>
</div>

{% endblock %}



