{% extends 'base.html.twig' %}

{% block title %}Hello StatistiqueController!{% endblock %}

{% block body %}

<div class="menu">
    <div class="initial-name">
        <a href="portefolio.html"></a>
    </div>
    <nav class="navbar-Da-sta">
        <ul>
            <li>
                <a class="lien-dash-sta" href="{{ path('show_dashboard') }}">Dashboard</a>
            </li> 
            <li>
                <a class="lien-dash-sta" href="{{ path('show_stat') }}">Statistique</a>
            </li> 
        </ul>
    </nav>
</div> 


<div class="container-xl">
  <h1 class="display-3">Satistique</h1>
</div>

<div class="container-xl">
  <h3 class="h2">Taux de réussite de nos héros:</h3>
</div>
<p>hero</p><br/>
{% for hero in heros %}
    {{hero.name}}
    {% for int in hero.reussite %}
        <p>taux de reussite:{{int}}</p>
    {% endfor %}
{% endfor %}

<p>Equipe</p><br/>
{% for team in teams %}
    {{team.name}}
    {% for int in team.reussite %}
        <p>taux de reussite:{{int}}</p>
    {% endfor %}
{% endfor %}

<div class="background-stat" >
    <div class="background-stat" style="height: 300px;">
        {{ render_chart(chart) }}
    </div>
</div>

<div class="container-xl">
  <h3 class="h2">Taux de réussite de nos équipes:</h3>
</div>

{% endblock %}
